body,a{color:#112209;}
.fc01{color:#528e42;}
.fc02,.fc02 a{color:#1d390f;font-size:14px;}
.fc03,.fc03 a,.fc04,.fc04 a,.fc11 a{color:#2d5917;}
.fc05{color:#112209;}
.fc06,.fc07{color:#376c1c;}
.fc08{color:#65964d;}
.fc00,.fc09{color:#4d6d34;}
.fc10{color:#91ba70;}
.bdc0{border-color:#91ba70;}
.bdc1{border-color:#bad4a5;}
.bdc9t{border-top-color:#9bc17d;}
.bdc9r{border-right-color:#9bc17d;}
.bdc9b{border-bottom-color:#9bc17d;}
.bdc9l{border-left-color:#9bc17d;}
.bgc0,.bgc9:hover,.bgc9.js-bgc9-hover{background-color:transparent;}
.bgc1{background-color:#9bc17d;}
.bgc2{background-color:#bad4a5;}
.bgp0{background-image:url(http://b.bst.126.net/newpage/style/nblog/4178/img/-1.gif);}
.nb-body{background:none #bad4a5 repeat left top ;}
.nb-bar{background:none #bad4a5 repeat left top;}
.nb-top{background:url(http://img.bimg.126.net/photo/-A0IEAzdvNWNLQnxWxlyDQ==/1423981907180922164.jpg) #000000 repeat-x center top;}
.nb-top .h{height:368px;}
.nb-top .t{top:282px;left:141px;font-family:Times New Roman;color:#528e42;}
.nb-top .n{font-size:32px;}
.nb-top .d{font-size:18px;}
.nb-nav .wkg{background:url(http://img.bimg.126.net/photo/yGeNlBXKY5mzMgClynfOgQ==/1423981907180922163.jpg) transparent no-repeat center top;}
.nb-nav .h{height:49px;line-height:49px;}
.nb-nav .c{margin-left:170px;}
.nb-nav .i{width:63px;font-weight:normal;font-size:14px;}
.nb-nav .i:hover{font-weight:bold;font-size:14px;color:#528e42;background:none transparent repeat-x center center;}
.nb-nav .selected{background:none transparent no-repeat center top;}
.nb-nav .selected .i,.nb-nav .selected .i:hover{font-weight:bold;font-size:14px;color:#528e42;background:none;}
.nb-cnt .wkg{background:url(http://img.bimg.126.net/photo/g8-Lf02GwECJnA7VSb-7PQ==/1456070054525923337.jpg) #ccced0 repeat center top;}
.nb-cnt .wc{margin:0 29px 0 29px;min-height:560px;_height:560px;}
.nb-fot{background:url(http://img.bimg.126.net/photo/shChEq8cr66kpeYjKhygcg==/1423981907180922162.jpg) #bad4a5 repeat-x center top;}
.nb-fot .h{height:218px;}
.nb-fot .k{padding-top:17px;}
.nb-mdl{margin:10px 5px;border:1px none #aaaaaa;}
.nb-mdl .th{height:43px;}
.nb-mdl .bh{height:0px;}
.nb-mt .tm{top:0;right:10px;line-height:37px;}
.nb-mt .tc{margin:0 26px 0 33px;height:43px;line-height:37px;font-size:14px;font-weight:bold;background:url(http://img.bimg.126.net/photo/3jUyr_7PqbAK-V5eGDF7WA==/1423981907180922167.jpg) transparent repeat-x center top;}
.nb-mt .tc .thide{font-size:14px;}
.nb-mt .tl{width:33px;background:url(http://img.bimg.126.net/photo/xxQjX28zFHjXSxy4hNshyA==/1423981907180922166.jpg) transparent no-repeat left top;}
.nb-mt .tr{width:26px;background:url(http://img.bimg.126.net/photo/22AokPL2S7_y3HzBCS_DPA==/1423981907180922169.jpg) transparent no-repeat right top;}
.nb-mc .cc{margin:0 10px 0 10px;background:none transparent no-repeat right bottom;}
.nb-mc .cl{width:10px;background:none transparent repeat-y left top;}
.nb-mc .cr{width:10px;background:none transparent repeat-y right top;}
.wsy,.wkg{width:1004px;margin:0px auto;}
.nb-top .d{text-align:left;text-indent:2em;padding-left:0;}